#.env file for environment variables
OPENAI_API_KEY=""
XIAOCASEAI_API_KEY=sk-
# DATABASE_URL = "postgresql://user:password@localhost/dbname"
# XIAOCASEAI_API_KEY=sk-zADlJWtYd3572W4aBc6210Aa58924aF995A8D38180Da0e20

# LLM Configuration
LLM_PROVIDER=xiaocaseai
LLM_BASE_URL=https://api.xiaocaseai.com/v1
# LLM_BASE_URL=https://api.openai.com
# LLM_BASE_URL=https://aihubmix.com/v1/chat/completions

CHAT_MODEL=gpt-4.1
DEFAULT_LLM_MODEL=gpt-4.1
PLANNER_MODEL=gpt-4.1
EMBEDDING_MODEL=text-embedding-3-large

# --- VECTOR STORE PATHS (relative to project root) ---
CHUNKS_VECTOR_STORE_PATH=chunks_vector_store
CHAPTER_SUMMARIES_VECTOR_STORE_PATH=chapter_summaries_vector_store
BOOK_QUOTES_VECTORSTORE_PATH=book_quotes_vectorstore